<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="voltar()" class="show-back-button" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<h1> Quais são os Sintomas</h1>

<p>Os sintomas da COVID-19 podem variar de um simples resfriado até uma pneumonia severa. Sendo os sintomas mais comuns:
</p>
  <ul>
  <li> Tosse</li>
  <li> Febre</li>
  <li> Coriza</li>
  <li> Dor de garganta</li>
  <li>Dificuldade para respirar</li>
</ul>

</ion-content>
