<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="voltar()" class="show-back-button" ></ion-back-button>
    </ion-buttons>
    <ion-title>Transmissão</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div class="borda">
  <h1>Como é Transmitido</h1>
  
<ul>
  <li>Toque do aperto de mão</li>
  <li>Gotículas de saliva</li>
  <li>Espirro</li>
  <li>Tosse</li>
  <li>Catarro</li>
  <li>Objetos ou superfícies contaminadas, como celulares, mesas, 
    maçanetas, brinquedos, teclados de computador etc.</li>
</ul>
</div>
</ion-content>
