<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="voltar()" class="show-back-button" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h1>Como é Transmitido</h1>
  
<ul>
  <li>Toque do aperto de mão</li>
  <li>Gotículas de saliva</li>
  <li>Espirro</li>
  <li>Tosse</li>
  <li>Catarro</li>
  <li>Objetos ou superfícies contaminadas, como celulares, mesas, 
    maçanetas, brinquedos, teclados de computador etc.</li>
</ul>

</ion-content>
