
@font-face{

  font-family: "personalizada";
  src: url("/assets/font/YellowRabbit-PersonalUse.woff");

}

ion-toolbar ion-title{
  margin-left: 20px;
  // font-family:"personalizada";
  font-size:25px;
}

ion-card{
    border-radius: 20px;
    background-color:#FAFAFA;
    box-shadow: 1px 1px 4px #0077DD;

   
  }

  ion-card.azul{
    background-color: #3880ff;
  }
  
  ion-card-header{
    background-color:#FAFAFA;
    
  }
  ion-searchbar{
    --border-radius: 10px;
    --box-shadow:1px 1px 4px #000;
    --placeholder-color: #000;
    --color:  #0077DD;
    
    
  }

  .espaco{
    margin-top:20px;
  }
  
  h2{
    margin-left: 5px;
    font-size: 23px;
  }
  h1{
    margin-left: 5px ;
  }
img{
  float: right;
}