<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="voltar()" class="show-back-button" ></ion-back-button>
    </ion-buttons>
    <ion-title>Prevenção</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="borda">
  <h1>Como se Prevenir</h1>
  <div class="texto">
  
  As recomendações de prevenção à COVID-19 são as seguintes:

  <ul>
    <li>Lave com frequência as mãos até a altura dos punhos, com água e sabão, ou então higienize com álcool em gel 70%.</li>
    <li>Ao tossir ou espirrar, cubra nariz e boca com lenço ou com o braço, e não com as mãos.</li>
    <li>Evite tocar olhos, nariz e boca com as mãos não lavadas.</li>
    <li>Ao tocar, lave sempre as mãos como já indicado.</li>
    <li>Mantenha uma distância mínima de cerca de 2 metros de qualquer pessoa tossindo ou espirrando.</li>
    <li>Evite abraços, beijos e apertos de mãos. Adote um comportamento amigável sem contato físico, mas sempre com um sorriso no rosto.</li>
    <li>Higienize com frequência o celular e os brinquedos das crianças.</li>
    <li>Não compartilhe objetos de uso pessoal, como talheres, toalhas, pratos e copos.</li>
    <li>Mantenha os ambientes limpos e bem ventilados.</li>
    <li>Evite circulação desnecessária nas ruas, estádios, teatros, shoppings, shows, cinemas e igrejas. Se puder, fique em casa.</li>
    <li>Se estiver doente, evite contato físico com outras pessoas, principalmente idosos e doentes crônicos, e fique em casa até melhorar.</li>
    <li>Durma bem e tenha uma alimentação saudável.</li>
    <li>Utilize máscaras caseiras ou artesanais feitas de tecido em situações de saída de sua residência.</li>
  </ul>
</div>
  </div>

</ion-content>
